<!doctype html>	

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>		<html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>		<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Heroku Funtimes</title>
	<link rel="stylesheet" href="{{ static_url("css/style.css") }}" />
	<script src="{{ static_url("js/modernizr-1.5.min.js") }}"></script>

</head>
<body>

	<header>

	</header><!-- end header -->

	<div id="main">
		<div id="container">
			<h1>{{ page_heading }}</h1>
		</div><!-- end container -->
	</div><!-- end main -->

	<footer>

	</footer><!-- end footer -->

	<!-- Load jQuery -->
	<script src="http://www.google.com/jsapi"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script>!window.jQuery && document.write('<script src="{{ static_url("js/jquery-1.6.4.min.js") }}"><\/script>')</script>

	<!-- plugins -->
	<script src="{{ static_url("js/plugins.js") }}"></script>

	<!-- main script -->
	<script src="{{ static_url("js/script.js") }}"></script>

	{% if (google_analytics_id != False) %}
	<!-- analytic party -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '{{ google_analytics_id }}']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	{% end %}

	</body>
</html>